docs/Kit per lo sviluppo - Ricetta elettronica non a carico SSN - Prescrittore - ver. 20231121/tracciatiWs/AnnullaPrescritto/AnnullaPrescrittoRicettaBiancaRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://annullaprescrittoricettabiancarichiesta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodatiannullaprescrittoricettabianca.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://annullaprescrittoricettabiancarichiesta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodatiannullaprescrittoricettabianca.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiAnnullaPrescrittoRicettaBianca.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="AnnullaPrescrittoRicettaBiancaRichiesta">
		<xs:annotation>
			<xs:documentation>Elemento base per la richiesta di annullamento della ricetta bianca prescritta dal medico</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pinCode" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PinCode inviante</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codicePaziente" type="td:stringType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Codice Fiscale/STP/ENI che rappresenta l'assistito per cui viene compilata la ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nrbe" type="td:nrbeType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero Ricetta Bianca Elettronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pinNrbe" type="td:pinNrbeType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero breve Ricetta Bianca Elettronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfMedico" type="td:cfMedicoType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Codice fiscale del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="opzioniRequest" type="td:opzioniType" maxOccurs="10" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
