docs/Kit per lo sviluppo - Ricetta elettronica non a carico SSN - Prescrittore - ver. 20231121/tracciatiWs/AnnullaPrescritto/TipiDatiAnnullaPrescrittoRicettaBianca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://tipodatiannullaprescrittoricettabianca.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tipodatiannullaprescrittoricettabianca.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="stringType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cfMedicoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataOraType">
		<xs:restriction base="xs:string">
			<xs:minLength value="19"/>
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="nrbeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pinNrbeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codEsitoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="erroreRicettaType">
		<xs:sequence>
			<xs:element name="codEsito" type="codEsitoType"/>
			<xs:element name="esito" type="stringType" minOccurs="0"/>
			<xs:element name="identificativoProdPrest" type="stringType" minOccurs="0"/>
			<xs:element name="tipoErrore" type="stringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="comunicazioneType">
		<xs:sequence>
			<xs:element name="codice" type="stringType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Codice della comunicazione di servizio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messaggio" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Messaggio di servizio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="opzioniType">
		<xs:sequence>
			<xs:element name="chiave" type="stringType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Chiave del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valore" type="stringType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Valore del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipo" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipologia del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
