docs/Kit per lo sviluppo - Ricetta elettronica non a carico SSN - Prescrittore - ver. 20231121/tracciatiWs/InvioPrescritto/InvioPrescrittoRicettaBiancaRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://invioprescrittoricettabiancarichiesta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodatiinvioprescrittoricettabianca.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://invioprescrittoricettabiancarichiesta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodatiinvioprescrittoricettabianca.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiInvioPrescrittoRicettaBianca.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="InvioPrescrittoRicettaBiancaRichiesta">
		<xs:annotation>
			<xs:documentation>Elemento base per l'invio al SAC della ricetta bianca prescritta dal medico</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pinCode" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>PinCode inviante</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfMedico" type="td:cfMedicoType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Codice fiscale del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codRegione" type="td:string3Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice Regione / Provincia Autonoma del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codASLAo" type="td:string3Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice ASL del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codStruttura" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice struttura del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codSpecializzazione" type="td:codSpecializzazioneType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Specializzazione del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="specialClinica" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Specializzazione clinica del medico in testo libero</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numIscrizAlbo" type="td:stringType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Numero di iscrizione all'Albo professionale del medico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="indirMedico" type="td:stringType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Indirizzo del medico prescrittore, vedere specifica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="telefMedico" type="td:stringType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Telefono del medico prescrittore</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="testata1" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="testata2" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codicePaziente" type="td:stringType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Codice Fiscale/STP/ENI che rappresenta l'assistito per cui viene compilata la ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cognNome" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cognome e nome dell'assistito </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="indirizzo" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indirizzo dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoPrescrizione" type="td:tipoPrescType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>F - Farmaceutica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codDiagnosi" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice diagnosi o del sospetto diagnostico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="descrDiagnosi" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descrizione della diagnosi o del sospetto diagnostico in testo libero</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataCompilazione" type="td:dataOraType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Data compilazione della ricetta, formato aaaa-mm-gg hh24:mm:ss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="opzioniRequest" type="td:opzioniType" maxOccurs="10" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco campi opzionali</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dettaglioPrescrizioneRicettaBianca" type="td:dettaglioPrescrizioneRicettaBiancaType" maxOccurs="99" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Elenco singole prescrizioni</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
