docs/Kit per lo sviluppo - Ricetta elettronica non a carico SSN - Prescrittore - ver. 20231121/tracciatiWs/InvioPrescritto/TipiDatiInvioPrescrittoRicettaBianca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://tipodatiinvioprescrittoricettabianca.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tipodatiinvioprescrittoricettabianca.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="stringType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cfMedicoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string3Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codSpecializzazioneType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoPrescType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dataOraType">
		<xs:restriction base="xs:string">
			<xs:minLength value="19"/>
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="ripetibilitaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/> 
			<xs:enumeration value="1"/> 
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/> 
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="num2DecimaliType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1,2})"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="num1DecimaliType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1})"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tdlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/> 
			<xs:enumeration value="1"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonSostType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codMotivazNonSostType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/> 
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/> 
			<xs:enumeration value="4"/> 			
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="nrbeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pinNrbeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codEsitoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string1Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="erroreRicettaType">
		<xs:sequence>
			<xs:element name="codEsito" type="codEsitoType"/>
			<xs:element name="esito" type="stringType" minOccurs="0"/>
			<xs:element name="identificativoProdPrest" type="stringType" minOccurs="0"/>
			<xs:element name="tipoErrore" type="stringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dettaglioPrescrizioneRicettaBiancaType">
		<xs:sequence>
			<xs:element name="codProdPrest" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codice prodotto farmaceutico (AIC)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descrProdPrest" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrizione testuale del prodotto farmaceutico</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codGruppoEquival" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Codice del gruppo di equivalenza secondo AIFA, solo per farmacia di classe A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descrGruppoEquival" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Descrizione testuale del gruppo di equivalenza secondo AIFA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonSost" type="nonSostType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Clausola di non sostituibilita', 1 in caso di non sostituibilita'</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codMotivazNonSost" type="codMotivazNonSostType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Motivazione codificata di non sostituibilita'</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tdl" type="tdlType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Terapia del dolore: 0 - NO, 1 - SI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descrTestoLiberoNote" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nota esplicativa libera</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantita" type="num2DecimaliType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantita' di confezioni prescritte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="posologia" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Posologia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="durataTrattamento" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durata trattamento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="modalitaImpiego" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Modalità impiego</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preparazFarmaceutica" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Preparazione farmaceutica</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numRipetibilita" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero ripetibilità</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validitaFarm" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Validità farmaco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prescrizione1" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prescrizione2" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
				</xs:annotation>
			</xs:element>				
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="comunicazioneType">
		<xs:sequence>
			<xs:element name="codice" type="stringType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Codice della comunicazione di servizio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messaggio" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Messaggio di servizio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="opzioniType">
		<xs:sequence>
			<xs:element name="chiave" type="stringType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Chiave del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valore" type="stringType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Valore del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipo" type="stringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tipologia del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
