AAA-istruzioni-e-test/ricetta-bianca-doc/wsdl/sts-a2f-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="authentication-service-port-type" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
					targetNamespace="http://wsdl.auth.a2f.sts.sanita.finanze.it"
					xmlns:tns="http://wsdl.auth.a2f.sts.sanita.finanze.it"
					xmlns:as="http://authservice.xsd.wsdl.auth.a2f.sts.sanita.finanze.it">

	<wsdl:documentation>Versione 0.0.4</wsdl:documentation>

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified">
			<xsd:import namespace="http://authservice.xsd.wsdl.auth.a2f.sts.sanita.finanze.it" schemaLocation="sts-a2f-service.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="createReq">
		<wsdl:part element="as:CreateAuthReq" name="CreateAuthReq"/>
	</wsdl:message>
	<wsdl:message name="createRes">
		<wsdl:part element="as:CreateAuthRes" name="CreateAuthRes"/>
	</wsdl:message>

	<wsdl:message name="revokeReq">
		<wsdl:part element="as:RevokeAuthReq" name="RevokeAuthReq"/>
	</wsdl:message>
	<wsdl:message name="revokeRes">
		<wsdl:part element="as:RevokeAuthRes" name="RevokeAuthRes"/>
	</wsdl:message>

	<wsdl:message name="checkTokenReq">
		<wsdl:part element="as:CheckTokenReq" name="CheckTokenReq"/>
	</wsdl:message>
	<wsdl:message name="checkTokenRes">
		<wsdl:part element="as:CheckTokenRes" name="CheckTokenRes"/>
	</wsdl:message>
	
	<wsdl:portType name="authentication-service-port-type">
		<wsdl:operation name="create">
			<wsdl:input message="tns:createReq"/>
			<wsdl:output message="tns:createRes"/>
		</wsdl:operation>
		<wsdl:operation name="revoke">
			<wsdl:input message="tns:revokeReq"/>
			<wsdl:output message="tns:revokeRes"/>
		</wsdl:operation>
		<wsdl:operation name="checkToken">
			<wsdl:input message="tns:checkTokenReq"/>
			<wsdl:output message="tns:checkTokenRes"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="authentication-service-binding" type="tns:authentication-service-port-type">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="create">
			<soap:operation soapAction="http://wsdl.auth.a2f.sts.sanita.finanze.it/create"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="revoke">
			<soap:operation soapAction="http://wsdl.auth.a2f.sts.sanita.finanze.it/revoke"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkToken">
			<soap:operation soapAction="http://wsdl.auth.a2f.sts.sanita.finanze.it/checkToken"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="authentication-service">
		<wsdl:port binding="tns:authentication-service-binding" name="authentication-service-port">
			<soap:address location="http://localhost:9080/sts-a2f-auth-ws/soap/v1/authentication-service" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>