Kit-sviluppo-RicettaBianca/wsdl/sts-a2f-service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" 
			targetNamespace="http://authservice.xsd.wsdl.auth.a2f.sts.sanita.finanze.it" 
			xmlns="http://authservice.xsd.wsdl.auth.a2f.sts.sanita.finanze.it"
			xmlns:dt="http://datatype.xsd.wsdl.auth.a2f.sts.sanita.finanze.it">

	<xs:import namespace="http://datatype.xsd.wsdl.auth.a2f.sts.sanita.finanze.it" schemaLocation="sts-a2f-service-data-type.xsd"/>
	
	<xs:annotation>
		<xs:documentation>Versione 0.0.4</xs:documentation>
	</xs:annotation>
	
	<xs:element name="CreateAuthReq" type="CreateAuthReq">
	</xs:element>
	<xs:element name="CreateAuthRes" type="CreateAuthRes">
	</xs:element>
	
	<xs:element name="RevokeAuthReq" type="RevokeAuthReq">
	</xs:element>
	<xs:element name="RevokeAuthRes" type="RevokeAuthRes">
	</xs:element>
	
	<xs:element name="CheckTokenReq" type="CheckTokenReq">
	</xs:element>
	<xs:element name="CheckTokenRes" type="CheckTokenRes">
	</xs:element>
	
	<xs:complexType name="CreateAuthReq">
		<xs:sequence>
			<xs:element name="pinCode" type="dt:stringTypeMax256" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Codice PIN (in possesso del soggetto abilitato all’invio) cifrato.</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="cfUtente" type="dt:cfType">
				<xs:annotation>
					<xs:documentation>In base alla richiesta specifica può essere valorizzato con codice fiscale del medico o del titolare dell’erogatore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codRegione" type="dt:codRegioneType">
				<xs:annotation>
					<xs:documentation>Codice Regione / Provincia Autonoma di appartenenza del soggetto indicato in cfUtente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codAslAo" type="dt:codAslType">
				<xs:annotation>
					<xs:documentation>Codice ASL di appartenenza del soggetto indicato in cfUtente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codiceStruttura" type="dt:codStrutturaType">
				<xs:annotation>
					<xs:documentation>Codice della struttura di appartenenza del soggetto indicato in userId. Nel caso in cui il codice struttura non sia presente è necessario valorizzare con un a stringa di lunghezza 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
           	<xs:element minOccurs="0" name="opzioni" type="dt:opzioni">
				<xs:annotation>
					<xs:documentation>Elenco campi opzionali.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>		
	</xs:complexType>
	
	<xs:complexType name="CreateAuthRes">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="codEsito" type="dt:esitoType">
				<xs:annotation>
					<xs:documentation>Esito della transazione: 0000=Esito positivo e restituzione dati, 0001=Esito positivo (con comunicazioni/warning) e restituzione dati, 9999=errore di sistema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errori" type="dt:errori"/>
			<xs:element minOccurs="0" name="comunicazioni" type="dt:comunicazioni"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RevokeAuthReq">
		<xs:sequence>
			<xs:element name="pinCode" type="dt:stringTypeMax256" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Codice PIN (in possesso del soggetto abilitato all’invio) cifrato.</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="cfUtente" type="dt:cfType">
				<xs:annotation>
					<xs:documentation>In base alla richiesta specifica può essere valorizzato con codice fiscale del medico o del titolare dell’erogatore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codRegione" type="dt:codRegioneType">
				<xs:annotation>
					<xs:documentation>Codice Regione / Provincia Autonoma di appartenenza del soggetto indicato in cfUtente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codAslAo" type="dt:codAslType">
				<xs:annotation>
					<xs:documentation>Codice ASL di appartenenza del soggetto indicato in cfUtente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codiceStruttura" type="dt:codStrutturaType">
				<xs:annotation>
					<xs:documentation>Codice della struttura di appartenenza del soggetto indicato in userId. Nel caso in cui il codice struttura non sia presente è necessario valorizzare con un a stringa di lunghezza 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="token" type="dt:tokenType">
				<xs:annotation>
					<xs:documentation>ID sessione ricevuto tramite l'operazione "create".</xs:documentation>
				</xs:annotation>
			</xs:element>
           	<xs:element minOccurs="0" name="opzioni" type="dt:opzioni">
				<xs:annotation>
					<xs:documentation>Elenco campi opzionali.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RevokeAuthRes">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="codEsito" type="dt:esitoType">
				<xs:annotation>
					<xs:documentation>Esito della transazione: 0000=Esito positivo e restituzione dati, 0001=Esito positivo (con comunicazioni/warning) e restituzione dati, 9999=errore di sistema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errori" type="dt:errori"/>
			<xs:element minOccurs="0" name="comunicazioni" type="dt:comunicazioni"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CheckTokenReq">
		<xs:sequence>
			<xs:element name="pinCode" type="dt:stringTypeMax256" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Codice PIN (in possesso del soggetto abilitato all’invio) cifrato.</xs:documentation>
				</xs:annotation>
			</xs:element>
            <xs:element minOccurs="1" maxOccurs="1" name="cfUtente" type="dt:cfType">
				<xs:annotation>
					<xs:documentation>In base alla richiesta specifica può essere valorizzato con codice fiscale del medico o del titolare dell’erogatore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codRegione" type="dt:codRegioneType">
				<xs:annotation>
					<xs:documentation>Codice Regione / Provincia Autonoma di appartenenza del soggetto indicato in cfUtente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codAslAo" type="dt:codAslType">
				<xs:annotation>
					<xs:documentation>Codice ASL di appartenenza del soggetto indicato in cfUtente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="codiceStruttura" type="dt:codStrutturaType">
				<xs:annotation>
					<xs:documentation>Codice della struttura di appartenenza del soggetto indicato in userId. Nel caso in cui il codice struttura non sia presente è necessario valorizzare con un a stringa di lunghezza 0.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" maxOccurs="1" name="token" type="dt:tokenType">
				<xs:annotation>
					<xs:documentation>ID sessione ricevuto tramite l'operazione "create".</xs:documentation>
				</xs:annotation>
			</xs:element>
           	<xs:element minOccurs="0" name="opzioni" type="dt:opzioni">
				<xs:annotation>
					<xs:documentation>Elenco campi opzionali.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CheckTokenRes">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="codEsito" type="dt:esitoType">
				<xs:annotation>
					<xs:documentation>Esito della transazione: 0000=Esito positivo e restituzione dati, 0001=Esito positivo (con comunicazioni/warning) e restituzione dati, 9999=errore di sistema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errori" type="dt:errori"/>
			<xs:element minOccurs="0" name="comunicazioni" type="dt:comunicazioni"/>
			<xs:element minOccurs="0" maxOccurs="1" name="infoToken" type="dt:infoToken" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>